:root {
    --primary-color: #222222;
}

.select2-container--default .select2-selection--multiple .select2-selection__choice {
    border-color: var(--primary-color) !important;
    background-color: var(--primary-color) !important;
}

.select2-container--default .select2-selection--multiple .select2-selection__choice__remove {
    color: #eee !important;
}

body.authentication-bg {
    background-color: #ccc;
}

.chip {
    border-radius: 16px;
    display: flex;
    align-items: center;
    -webkit-box-pack: justify;
    -webkit-box-align: center;
    height: 32px;
    padding: 0 12px;
    margin-right: 1rem;
    font-weight: 500;
    cursor: pointer;
    color: rgba(0, 0, 0, 0.6);
    background-color: #eceff1;
    word-wrap: break-word;
    transition: opacity .3s linear;
    text-transform: none;
    margin-top: 5px;
    margin-bottom: 5px;
    font-size: 11px;
}

.profile-jumbotron {
    padding-bottom: 0;
}

.jumbotron-bg-1{
    background-image:url('../../images/wall.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 0 0;
    background-attachment: fixed;
}

.profile-jumbotron .avatar-xl {
    width: 8rem;
    height: 8rem;
}


/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) { 
    
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
    .chip {
        font-size: 13px;
    }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) { 

}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {

}